.header {
  position: absolute;
  top: 13.5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12.5rem;
  font-family: "PT Sans Bold";
  display: flex;
  width: 100%;
  max-width: 60.8rem;
  justify-content: space-between;
  pointer-events: none;
  z-index: -1;
}
.headerFirstYear {
  color: #5d5fef;
}
.headerLastYear {
  color: #ef5da8;
}
@media (max-width: 1150px) {
  .header {
    justify-content: center;
    gap: 2rem;
    font-size: 8.5rem;
    top: 23.4%;
  }
}
@media (max-width: 900px) {
  .header {
    top: 4rem;
    font-size: 5rem;
  }
  .headerFirstYear {
    color: #3877ee;
  }
  .headerLastYear {
    color: #f178b6;
  }
}
@media (max-width: 550px) {
  .header {
    font-size: 4rem;
  }
}
@media (max-width: 360px) {
  .header {
    font-size: 3.5rem;
  }
}
