:global {
  .swiper-slide {
    padding: 0 !important;
  }
}

.wrapper {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  width: calc(100% - 10rem);
  height: 12rem;
  max-width: 82rem;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3877ee;
  font-family: Calibri, "Trebuchet MS";
  background: #fff;
  border: none;
  font-size: 1.6rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px 1.5px rgba(56, 119, 238, 0.25);

  &.left {
    left: -3rem;
  }

  &.right {
    right: -3rem;
  }
}

@media (min-width: 901px) {
  :global {
    .swiper-pagination {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  :global {
    .swiper {
      position: static !important;
    }
  }

  .wrapper {
    position: relative;
    height: 16.7rem;
    width: calc(90% - 3rem);
    top: 19.5rem;
  }
}

@media (max-width: 600px) {
  .wrapper {
    position: relative;
    width: calc(100% - 1rem);
    left: 0;
  }

  .navButton {
    display: none;
  }

  :global {
    .swiper-pagination {
      position: fixed !important;
      bottom: 2rem !important;
      left: 0 !important;
      width: 100% !important;
      text-align: center !important;
      z-index: 9999 !important;
    }
  }
}

@media (max-width: 360px) {
  .wrapper {
    top: 16rem;
  }
}
