@font-face {
  font-family: "PT Sans Bold";
  src: url("./pt-sans_bold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "PT Sans";
  src: url("./pt-sans_regular.woff2") format("woff2");
}
